
/* ###########  Defaults   ########## */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

nav,header,footer{
  display: block;
}

/* ###########  NAV Bar   ########## */

nav{
  width: 100%;
}

nav ul{
  background-color: rgb(114, 71, 146);
  overflow: hidden;
}

.top-navigation li{
  list-style: none;
  float: left;
}

.top-navigation .top-navigation-right{
  float: right;
}

.top-navigation li a{
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.top-navigation li a:hover{
  background-color: rgb(54, 54, 245);
}

.dropdown{
  display: none;
}

/* ########### Mobile ############ */

@media screen and (max-width:680px){

  .top-navigation li:not(:nth-child(1)){
    display: none;
  }

  .top-navigation li.dropdown{
    display: block;
    float: right;
  }

  .top-navigation.responsiveNav li.dropdown{
    position: absolute;
    top: 0;
    right: 0;
  }

.responsiveNav{
    position: relative;
  }

  ul.top-navigation.responsiveNav li{
    display: inline;
    float: none;
  }

  ul.top-navigation.responsiveNav li a{
    display: block;
    text-align: left;
  }
  
}